// The height of the fixed header bar
$header-height: 1.5rem;

// The height of the margin below the header 
// This is the location of the expand menu button
$header-base-height: 1rem;

// The height of the fixed footer bar
$footer-height: 1rem;


* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  //grid-template-rows: $header-height $header-height auto;
  background-color: aqua;
  position: relative;
}

#grid-container>div {
  position: relative;
  background: #ddd;
  border: dotted 1px blue;
}

#header {
  height: $header-height;
  grid-column: 1/5;
  grid-row: 1;
}

#nav-button {
  height: $header-base-height;
  grid-column: 1;
  grid-row: 2;
  cursor: pointer;
}

#empty-containerOne {
  height: $header-base-height;
  grid-column: 2/5;
  grid-row: 2;
}

#navigation-menu {
  position: absolute;
  grid-column: 1;
  grid-row: 3;
  left: 0px;
  width: 150px;
  min-height: 150px;
  z-index: 1;
  opacity: 90%;
  transition: 300ms;
  display: block;
  height: calc(100vh - $footer-height - $header-height - $header-base-height);
}

#mini-menu {
  position: absolute;
  grid-column: 1;
  grid-row: 3;
  left: -30px;
  width: 30px;
  min-height: 150px;
  z-index: 1;
  opacity: 90%;
  transition: 450ms;
  height: calc(100vh - $footer-height - $header-height - $header-base-height);

}

#content {
  grid-column: 1/5;
  grid-row: 3;
  padding-left: 2Rem;
}

#footer {
  height: $footer-height;
  grid-column: 1/5;
  grid-row: 4;

}